@font-face {
    font-family: 'PangMenZhengDao-Cu';
    src: url('../font/PangMenZhengDao-Cu.ttf')
}

@font-face {
    font-family: 'SourceHanSerifCN-Medium';
    src: url('../font/SourceHanSerifCN-Medium.otf')
}

@font-face{
	font-family: 'French Script Mt';
	src : url(../font/FrenchScriptMT.ttf);
} 

@font-face {
    font-family: 'SourceHanSansCN-Bold';
    src: url(../font/SourceHanSansCN-Bold.otf);
}


