<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/CSS/Home.css">
</head>
<body>
    <h1>Hello World!</h1>

    <input type="text" id="input">
    <button id="btn">提交</button>


    <form action="/ajax1/" method="post">
        {% csrf_token %}
        <input type="text" name="req">
        <input type="submit">
    </form>



    <script src="/static/JS/jquery.min.js"></script>
    <script src='/static/JS/Home.js'></script>
</body>
</html>